<div class="sheet">

  <h2><%= @title = "Send Invites" %></h2>

  <% form_tag invites_path do %>
    <p>
      <%= label_tag :invitees, "Enter the email addresses of the people you want to invite. One per line." %>
      <%= text_area_tag :invitees, params[:invitees], :class => "wide", :rows => 10 %>
    </p>
    <p>
      <%= label_tag :room_id, "Invite to room" %>
      <%= select_tag :room_id, options_for_select(current_account.rooms.map { |room| [room.name, room.id] }) %>
    </p>
    <p>
      <%= submit_button "Send Invites", :class => "icon send-email" %>
      or
      <%= cancel_button users_path %>
    </p>
  <% end %>

</div>
