<div class="sheet">

  <h2><%= @title = "Send Invites" %></h2>

  <% form_tag invites_path do %>
    <p>
      <%= label_tag :invitees, "Enter the email addresses of the people you want to invite. One per line." %>
      <%= text_area_tag :invitees, params[:invitees], :class => "wide", :rows => 10 %>
    </p>
    <p>
      <%= submit_button "Send Invites", :class => "icon send-email" %>
      or
      <%= cancel_button users_path %>
    </p>
  <% end %>

</div>



<% content_for :sidebar do %>
  <div id="actions">
    <%= link_to "Invite Talker Team", '#', :id => "invite_talker_team", :class => "button talker_team" %>
  </div>
<% end %>