%tr.event{:id => "message-#{message.uuid || message.id}", :class => "#{(message.notice? ? "notice" : "message")} user_#{message.user.id} #{message.user.id == current_user.id ? 'me' : ''}"}
  %td.author&= message.user.name
  - if message.notice?
    %td.content&= message.type
  - else
    %td.content&= message.message
