<% @title = "Log In" %>

<div class="sheet">
  <% if current_account %>
    <h2>Log in to <%=h possessive(current_account.subdomain.titleize) %> Talker account</h2>
  <% else %>
    <h2>Log in to Talker</h2>
  <% end %>
  
  <% form_tag session_path, :class => "lw120" do %>
    <p>
      <%= label_tag :email, 'Email or name' %>
      <%= text_field_tag :email, @email, :size => 30 %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil %>
    </p>
    <p class="submit indent">
      <%= ok_button 'Log in' %>
      or
      <%= link_to 'Forgot your password?', reset_password_path %>
    </p>
  <% end %>
  </div>
</div>
