<div class="sheet">
  <h2><%= @title = "Feeds" %></h2>
  
  <table id="feeds">
    <tr>
      <th>Feed URL</th>
      <th></th>
      <th>Send to Room</th>
      <th></th>
    </tr>
  <% @feeds.each do |feed| %>
    <tr class=<%= cycle :even, :odd %>>
      <td>
        <%= image_tag "icons/feed.png" %>
        <%= link_to truncate(h(feed.url), :length => 50), feed.url, :title => h(feed.url) %>
        <% if feed.failed? %>
          <span class="error">Error: <%=h feed.last_error %> (<%= link_to "?", "http://en.wikipedia.org/wiki/List_of_HTTP_status_codes" %>)</span>
        <% end %>
      </td>
      <td><%= image_tag "icons/arrow.png", :class => "to", :title => "Send to room" %></td>
      <td><%=h feed.room.name %></td>
      <td class="actions">
        <%= link_to "Edit", edit_feed_path(feed), :class => "edit" %>
        <%= link_to "Remove", feed_path(feed), :class => "remove", :confirm => "Are your sure?", :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<% content_for :sidebar do %>
  <% unless current_account.feeds_full? %>
  <div id="actions">
    <%= link_to "Add a feed", new_feed_path, :title => "Add a feed", :class => "button add" %>
  </div>
  <% end %>
  
  <%= render :partial => "shared/limit",
             :locals => { :feature => "feeds",
                          :full => current_account.feeds_full? } if current_account.feeds_full?(1) %>
  
  <div class="info">
    <p>You can send a notification to a room each time a feed is updated.</p>
    <p>Simply add the URL to the Atom or RSS feed and specify to which room the
    notification should go.</p>
  </div>
  
<% end %>