#room
  #sidebar
    %h1= @room.name
  %table#log
    - @messages.each do |message|
      %tr.message
        %td.author= message.user.name
        %td.content= message.content.gsub(/\n/, "<br/>")
  #message
    %form
      %textarea#msgBox
      %input#sendBtn{:type => "submit", :value => "Connecting...", :disabled => "disabled"}
    :javascript
      var connection = new Connection(#{@room.id}, #{@user.id}, {
        onReceive: function(message) {
          $("#log").append(
            $('<tr class="message">' +
                '<td class="author">' + message.user + '</td>' +
                '<td class="content">' + message.content.replace("\n", "<br/>") + '</td>' +
              '</tr>')
          );
          scrollToLast();
        },
        onOpen: function() { enableSend(true) },
        onClose: function() { enableSend(false) }
      });
      
      var messageForm = $('#message form');
      var messageBox = messageForm.find('textarea');
      
      function enableSend(val) {
        var btn = $('#sendBtn')[0];
        btn.value = val ? "Send message" : "Connecting...";
        btn.disabled = !val;
      };

      function sendEnabled() {
        return !$('#sendBtn')[0].disabled;
      };
      
      function scrollToLast() {
        $(window).scrollTop($("#log")[0].scrollHeight);
      };

      function sendMessage() {
        var text = messageBox.val();
        if (sendEnabled() && text.length > 0) {
          connection.send({content: text});
          messageBox.val("");
        }
        return false;
      };
      
      $(document).ready(function () {
        scrollToLast();
        messageBox.focus();
      });
      
      $('#message form').submit(sendMessage);
      
      $("#message form textarea").keypress(function (e) {
        if (!e.shiftKey && e.which == 13) {
         sendMessage();
         return false;
        }
        return true;
      });
    