<div class="stats">
  <%= link_to_unless_current pluralize(Account.count, "account"), accounts_admin_path %>,
  <%= pluralize User.count, "user" %>,
  <%= pluralize Event.count, "events" %>,
  <%= link_to_unless_current pluralize(Connection.count, "active connection"), admin_path %>,
  <%= link_to_unless_current pluralize(Delayed::Job.count, "jobs"), jobs_admin_path %>
</div>
