<div id="admin" class="sheet">
  <h2><%= @title = "Staff Admin Panel" %></h2>
  
  <%= render :partial => "nav" %>
  <h3>Connections</h3>
  <table id="connections">
    <tr>
      <th>Account</th>
      <th>Channel</th>
      <th>User</th>
      <th>Created</th>
      <th>Updated</th>
      <th>State</th>
    </tr>
  <% @connections.each do |connection| %>
    <tr class="connection">
      <td><%=h connection.account.try(:subdomain) %></td>
      <td><%=h connection.title %></td>
      <td><%= mail_to connection.user.email, h(connection.user.name) %></td>
      <td><%= time_ago_in_words connection.created_at %> ago</td>
      <td><%= time_ago_in_words connection.updated_at %> ago</td>
      <td><%= connection.state %></td>
    </tr>
  <% end %>
  </table>
</div>