<h1>Editing plugin</h1>

<% form_for(@plugin) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_area :source %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @plugin %> |
<%= link_to 'Back', plugins_path %>