<div class="sheet">
  <h2><%= @title = "Edit Plugin" %></h2>

  <% form_for [current_account, @plugin], :html => { :class => "lw120" } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_field :description, :size => 60 %>
    </p>
    <p>
      <%= f.label :source %>
      <%= f.text_area :source, :rows => 12, :cols => 60 %>
    </p>
    <p class="indent submit">
      <%= buttons "Create", :cancel_to => account_plugins_path(current_account) %>
    </p>
  <% end %>
</div>

<% content_for :sidebar do %>
<h2>Writing a plugin?</h2>
<p>Check out our <%= link_to "plugin API", plugin_api_path %></p>
<% end %>