<li class="user <%= 'pending' if user.pending? || user.suspended? %>">
  <div class="panel">
    <div class="header">
      <div class="avatar">
        <%= image_tag avatar_url(user, 40), :alt => h(user.name) %>
      </div>
      <span class="actions">
        <% if user == current_user %>
          <span class="tag you">You</span>
        <% end %>
        <% if user.admin %>
          <span class="tag">Admin</span>
        <% end %>
      </span>
      <h3 title="<%=h user.name %>"><%=h truncate(user.name, :length => 13) %></h3>
    </div>
    <div class="content">
      <% if user.active? %>
        <% if user.admin %>
          <p>Can edit and access everything.</p>
        <% else %>
          <p>Can access <%= access_description user %>.</p>
        <% end %>
      <% elsif user.pending? %>
        <p>Invitation sent ... didn't log in yet.</p>
      <% elsif user.suspended? %>
        <p>Access suspended.</p>
      <% end %>
    </div>
    <div class="footer">
      <% if user != current_user %>
        <% if user.pending? %>
          <%= link_to "Delete", user_path(user), :confirm => "Are your sure?", :method => :delete, :class => "button negative small icon delete" %>
          <%= link_to "Send Invite", resend_invite_path(user), :method => :post, :class => "button neutral small icon send-email", :title => "Sending email invitation" %>
        <% else %>
          <%= link_to "Edit permissions", edit_user_path(user), :class => "button neutral small icon update" %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
