<li class="user <%= 'pending' if user.pending? || user.suspended? %>">
  <div class="panel">
    <div class="header">
      <div class="avatar">
        <%= image_tag avatar_url(user, 40), :alt => h(user.name) %>
      </div>
      <span class="actions">
        <% if user == current_user %>
          <span class="tag you">You</span>
        <% end %>
        <% if user.admin?(current_account) %>
          <span class="tag">Admin</span>
        <% end %>
      </span>
      <h3 title="<%=h user.name %>"><%=h truncate(user.name, :length => 13) %></h3>
    </div>
    <div class="content">
      <% if user.suspended? %>
        <p>Access suspended.</p>
      <% elsif user.admin?(current_account) %>
        <p>Can edit and access everything.</p>
      <% else %>
        <p>Can access <%= access_description user %>.</p>
      <% end %>
      <% if user.pending? %>
        <p>
          Invitation sent ... didn't log in yet.
          (<%= link_to "Re-send", resend_invite_path(user), :method => :post, :title => "Re-send invitation mail" %>)
        </p>
      <% end %>
    </div>
    <div class="footer">
      <% if user != current_user %>
        <% if user.pending? %>
          
        <% end %>
        <%= link_to "Edit", edit_user_path(user) %>
      <% end %>
    </div>
  </div>
</li>
