<% @title = "Manage Users" %>

<% content_for :sidebar do %>
  <div id="actions">
    <%= link_to "Send Invites", invites_path, :class => "button add" %>
  </div>
<% end %>

<ul id="people">
<% @users.each do |user| %>
  <% form_tag user_path(user) do %>
  <li class="user <%= 'pending' if user.pending? %>">
    <div class="panel">
      <div class="header">
        <div class="avatar">
          <%= image_tag avatar_url(user, 40), :alt => h(user.name) %>
        </div>
        <span class="actions">
          <% if user == current_user %>
            <span class="tag">You</span>
          <% end %>
          <% if user.pending? %>
            <span class="tag pending">Pending</span>
          <% end %>
        </span>
        <h3 title="<%=h user.name %>"><%=h truncate(user.name, :length => 13) %></h3>
      </div>
      <div class="content">
        <%= image_tag "loader.gif", :class => "loader", :style => "display:none" %>
        <ul class="roles">
          <li>
            <%= check_box_tag "admin", "1", user.admin, :id => dom_id(user, :admin), :class => "admin", :disabled => (user == current_user) %>
            <%= label_tag dom_id(user, :admin), "Administrator", :class => "inline", :title => "Administrators can edit and invite users, manage rooms and change account settings." %>
          </li>
          <li>
            <%= check_box_tag "suspended", "1", user.suspended?, :id => dom_id(user, :suspended), :class => "suspended", :disabled => (user == current_user) %>
            <%= label_tag dom_id(user, :suspended), "Access suspended", :class => "inline", :title => "Suspending access will prevent this user from logging in." %>
          </li>
        </ul>
      </div>
      <div class="footer">
        <% if user != current_user && user.pending? %>
          <%= link_to "Delete", user_path(user), :confirm => "Are your sure?", :method => :delete, :class => "button negative small icon delete" %>
          <%= link_to "Send Invite", resend_invite_path(user), :method => :post, :class => "button neutral small icon send-email", :title => "Sending email invitation" %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
<% end %>
</table>
