<div id="nav">
  <ul>
    <% if registered? %>
      <li><%= link_to_with_active "Rooms", rooms_path, :title => "Rooms", :accesskey => "r" %></li>
      <% if admin? %>
        <li><%= link_to_with_active "Plugins", plugins_path, :accesskey => "p" %></li>
        <li><%= link_to_with_active "Feeds", feeds_path, :accesskey => "f" %></li>
        <li><%= link_to_with_active "Users", users_path, :accesskey => "u" %></li>
      <% end %>
      <li><%= render :partial => "logs/search_form" %></li>
    <% end %>
  </ul>
  <p class="utilities">
    <% if logged_in? %>
      <%= link_to image_tag(avatar_url(current_user), :alt => h(current_user.name)), settings_path, :title => "Logged in as #{h current_user.name}, manage my account", :class => "avatar" %>
      <%= link_to "My Settings", settings_path, :title => "Manage my settings", :accesskey => "m" %> |
      <%= link_to "Logout", logout_path, :title => "Logout" %>
    <% else %>
      <%= link_to "Login", login_path, :title => "Login" %>
      <%= link_to "Sign Up", signup_path, :title => "Sign Up" %>
    <% end %>
  </p>
</div>