<div id="nav">
  <ul>
    <% if logged_in? %>
      <li><%= link_to_with_active "Rooms", rooms_path, :title => "Rooms" %></li>
      <% if admin? %>
        <li><%= link_to_with_active 'Users', users_path %></li>
      <% end %>
      <li><%= link_to_with_active 'Chat Logs', logs_path %></li>
      <li><%= render :partial => "logs/search_form" %></li>
    <% end %>
  </ul>
  <p class="utilities">
    <% if logged_in? %>
      Logged in as
      <%= link_to image_tag(current_user.avatar_url, :alt => h(current_user.name)), settings_path, :title => "Logged in as #{h current_user.name}, manage my account", :class => "avatar" %>
      <%= link_to h(current_user.name), settings_path, :title => "Logged in as #{h current_user.name}, manage my account" %>.
      <%= link_to "My Account", settings_path, :title => "Manage my account" %> or
      <%= link_to "Logout", logout_path, :title => "Logout" %>
    <% else %>
      <%= link_to "Login", login_path, :title => "Login" %>
      <%= link_to "Sign Up", signup_path, :title => "Sign Up" %>
    <% end %>
  </p>
</div>