<div class="sheet">

  <h2><%= @title = "My Settings" %></h2>

  <% form_for @user, :url => settings_path, :html => { :class => "lw80", :autocomplete => "off" } do |f| %>

    <%= f.error_messages %>

    <fieldset id="info">
      <h3>User Information</h3>
      <p>
        <%= f.label :name, "User name" %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :avatar %>
        <%= image_tag avatar_url(@user) %>
        Get an avatar on <%= link_to "Gravatar", "http://en.gravatar.com/site/signup", :title => "Signup to get your own gravatar" %>
      </p>
      <p class="indent submit">
        <%= ok_button "Update" %>
      </p>
    </fieldset>
    
    <% if registered? %>
      <fieldset id="password">
        <h3>Change Your Password</h3>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
        </p>
        <p class="indent submit">
          <%= ok_button "Change password" %>
        </p>
      </fieldset>
    
      <fieldset id="api">
        <h3>Your Talker API Token</h3>
        <p class="indent">
          Your Talker token is like a password, you shouldn't show it or share it with anyone.
          You can use it to access the API or connect directly to the Talker server.
        </p>
        <p class="indent">
          <strong><%=h @user.talker_token %></strong>
        </p>
      </fieldset>
    <% end %>

  <% end %>

</div>