<div class="sheet">

  <h2><%= @title = "My Settings" %></h2>

  <% form_for @user, :url => settings_path, :html => { :class => "lw40" } do |f| %>

    <%= f.error_messages %>

    <fieldset id="info">
      <h3>User Information</h3>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p class="indent submit">
        <%= ok_button "Update" %>
      </p>
    </fieldset>

    <fieldset id="password">
      <h3>Change Your Password</h3>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </p>
      <p class="indent submit">
        <%= ok_button "Change password" %>
      </p>
    </fieldset>

  <% end %>

</div>