<%= form.error_messages %>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_area :description, :rows => 4 %>
</p>

<p>
  <%= form.label :access %>
  <%= form.radio_button :access, "public" %>
  <%= form.label :access_public, "Public", :class => "inline" %>:
  <small>Anyone can access this room.</small>
</p>

<p class="indent grouped">
  <%= form.radio_button :access, "private", :disabled => !current_account.features.private_rooms %>
  <%= form.label :access_private, "Private", :class => "inline" %>:
  <small>Only users you specify can access this room.</small>
</p>

<% unless current_account.features.private_rooms %>
<div class="info warning indent">
  You current plan do not allow private rooms.
  <%= link_to "Upgrade your plan", account_path %> to crete a private room.
</div>
<% end %>

<div class="indent grouped" id="invitees">
  <ul>
  <% current_account.users.registered.by_name.each do |user| %>
    <li>
      <%= check_box_tag "room[invitee_ids][]", user.id, user.permission_without_room_access?(@room), :id => "room_invitee_ids_#{user.id}", :disabled => user.admin %>
      <%= form.label "invitee_ids_#{user.id}", h(user.name), :class => "inline" %>
      <% if user.admin %>
        <span class="tag">admin</span>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
