<% @title = "Rooms" %>

<h2>Rooms</h2>

<div id="rooms">
<% @rooms.each_with_index do |room, i| %>
  <% content_tag_for :li, room do %>
    <div class="panel">
      <div class="header">
        <div class="actions">
          <%= image_tag "icons/lock.png", :title => "This room is private, only allowed users can access it" if room.private %>
        </div>
        <h3><%= link_to h(room.name), room, :accesskey => i+1 %></h3>
      </div>
      
      <div class="content">
        <% if room.description %>
          <p class="description">
            <%=h room.description %>
          </p>
        <% end %>
        
        <p class="people">
          <label>Inside:</label>
          <% if room.users.empty? %>
            Nobody
          <% else %>
            <%= avatars room.users %>
          <% end %>
        </p>
      </div>
    
      <div class="footer">
        <% if admin? %>
          <%= link_to "Edit", edit_room_path(room), :title => "Edit this room" %>
        <% end %>
        <%= link_to "Chat Logs", room_logs_path(room), :title => "Chat Logs" %>
      </div>

    </div>
  <% end %>
<% end %>
</div>

<% content_for :sidebar do %>
  <div id="actions">
    <%= link_to "Add a room", new_room_path, :title => "Add a room", :class => "button add" %>
  </div>
<% end %>