<div class="sheet">
  <h2><%= @title = "New room" %></h2>

  <% form_for @room, :html => { :class => "lw120" } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 4 %>
    </p>
    <p class="indent submit">
      <%= buttons "Create", :cancel_to => rooms_path %>
    </p>
  <% end %>
</div>