- content_for :head do
  = javascript_include_tag "orbited", "stomp", "chat", :cache => "chat_all"
- @title = @room.name

#room
  #sidebar
    %h1&= @room.name
    %p&= @room.description
    %h2 Users
    %ul#users
      = render :partial => "user", :collection => @room.users
  %table#log
    = render :partial => "messages/message", :collection => @events
    %tr.message.event#message
      %td.author&= current_user.login
      %td.content
        %form#msgForm{:action => room_messages_path(@room)}
          %textarea#msgbox
