- content_for :head do
  = javascript_include_tag "orbited", "stomp", "chat", :cache => "chat_all"

  :javascript
    Orbited.settings.hostname = '#{request.subdomains.first}.#{OrbitedConfig.host}';
    Orbited.settings.port = '#{OrbitedConfig.port}';
    Orbited.settings.protocol = '#{request.ssl? ? "https" : "http"}'
    Orbited.settings.streaming = true;
    
  = stomp_connect @room.channel, :js => :jquery, :callbacks => { :onmessageframe => "function(frame) { Chat.receive(frame) }" }

- @title = @room.name

#room
  #sidebar
    %h1&= @room.name
    %p&= @room.description
    %h2 Users
    %ul#users
      = render :partial => "user", :collection => @room.users
  %table#log
    = render :partial => "messages/message", :collection => @events
    %tr.message.event#message
      %td.author&= current_user.login
      %td.content
        %form#msgForm{:action => room_messages_path(@room)}
          %textarea#msgbox{:rows => 1}
