<% @title = @room.name %>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    <%= install_plugins_source %>
  </script>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    Talker.currentUser = <%= current_user.to_json %>;
    Talker.room = <%= @room.to_json %>;

    Orbited.settings.hostname = '<%= request.host %>';
    Orbited.settings.port = <%= Orbited.port %>;
    Orbited.settings.protocol = '<%= request.ssl? ? "https" : "http" %>'
    Orbited.settings.streaming = true;
    TCPSocket = Orbited.TCPSocket;
    
    $(function() {
      document.domain = document.domain;
      
      // Functional plugins that have bearing on wether other plugins work or not
      Talker.plugins.push(new Talker.ErrorHandler($("#error")));
      Talker.plugins.push(new Talker.Users()); // used only to keep track of which users are present for up to date knowledge of presence
      Talker.plugins.push(new Talker.Scroller());
      Talker.plugins.push(new Talker.Notifier()); //provides onblur/onfocus handlers
      Talker.plugins.push(new Talker.UserList($('#people'))); // sidebar updating of users.
      Talker.plugins.push(new Talker.Timestamp());// << depends on order to be included properly.  I say it should remain mandatory for usability reasons.
      
      // Account plugins
      <%= install_plugins %>
      // 
      
      Talker.plugins.push(new Talker.InviteCommand({invites_url: '<%= url_for :controller => "invites", :action => "create" %>'})); // will always be loaded...
      Talker.plugins.push(new Talker.MeCommand()); // will always be loaded...
      Talker.plugins.push(new Talker.MsgCommand($('#msgbox'))); // will always be loaded...
      Talker.plugins.push(new Talker.CommandAutocompleter()); // will always be loaded...
      Talker.plugins.push(new Talker.UsernameAutocompleter()); // will always be loaded...
      
      // formatters to provide basic functionalities.
      Talker.plugins.push(new Talker.YoutubeFormatter());
      Talker.plugins.push(new Talker.PasteFormatter());
      Talker.plugins.push(new Talker.ImageFormatter());
      
      Talker.plugins.push(new Talker.Sender($("#msgbox")));
      Talker.plugins.push(new Talker.HelpCommand());
      Talker.plugins.push(new Talker.DefaultCommand($('msgbox')));
      Talker.plugins.push(new Talker.DefaultFormatter()); // this is mandatory and should be last.
      Talker.plugins.push(new Talker.LogSweeper($("#log")));
      
      Talker.client = new Talker.Client({
        host: '<%= Orbited.talker_host %>', 
        port: <%= Orbited.talker_port %>, 
        room: Talker.room.id,
        token: <%= current_user.talker_token.to_json %>,
        callbacks: Talker.Broadcaster
      }).connect();
      
      <%= render_events @events %>
      
      Talker.trigger("Loaded");
      Talker.trigger("Resize");
      
      $(window).bind('beforeunload', function() { Talker.client.reset() });
    });
  //]]>
  </script>
<% end %>

<% content_for :sidebar do %>
  <div id="error" class="flash error" style="display:none"></div>

  <div id="room" class="panel">
    <div class="header">
      <h3 class="name" id="room_name">
        <%=h @room.name %>
        <% unless @rooms.empty? %>
          <span class="switch_rooms hide_rooms">
            <b><!----></b>
            <div id="rooms">
              <% @rooms.each_with_index do |room, i| %>
                <%= link_to h(room.name), room_path(room), :title => h("#{room.name} : #{room.description}"), :class => ("current" if room == @room), :accesskey => i+1 %>
              <% end %>
              <%= link_to "&laquo; Back to Rooms", rooms_path, :class => "back", :accesskey => "r" %>
            </div>
          </span>
        <% end %>
      </h3>
    </div>
    <div class="content">
      <% if registered? %>
        <% form_tag @room ? search_room_path(@room) : search_path, :method => :get, :class => "search_form" do %>
          <%= text_field_tag :q, @query, :class => "search", :type => "search", :results => 5, :placeholder => "Search logs ...", :size => 16, :accesskey => "s" %>
          <%= link_to "Browse", room_logs_path(@room), :title => "Browse chat logs for this room", :target => "_blank", :class => "browse" %>
        <% end %>
      <% end %>
      <h4 class="name">Who&#39;s here?</h4>
      <ul class="people" id="people"></ul>
    </div>
    <div class="footer" id="user_actions">
      <%= link_to "Upload", room_attachments_path(@room), :title => "Upload a file", :id => "upload" %>
      <%= image_tag "loader.gif", :id => "upload_loader", :style => "display:none" %>
      <%= link_to "Settings", settings_path, :title => "Manage my settings", :accesskey => "m", :target => "_blank" %>
      <%= link_to "Logout", logout_path, :title => "Logout" %>
    </div>
    <% if admin? %>
    <div class="footer" id="admin_actions">
      <label>Manage:</label>
      <%= link_to "Plugins", plugins_path, :title => "Manage plugins", :target => "_blank" %>
      <%= link_to "Feeds", feeds_path, :title => "Manage feeds", :target => "_blank" %>
      <%= link_to "Users", users_path, :title => "Manage users", :target => "_blank" %>
    </div>
    <div class="footer" id="guest_access">
      <label title="Guest Access allow people to access this room without creating a user account">Guest Access:</label>
      <span class="enable" <% if @room.guest_allowed? %>style="display:none"<% end %>>
        <%= link_to "Enable", enable_room_guest_path(@room) %>
      </span>
      <span class="disable" <% unless @room.guest_allowed? %>style="display:none"<% end %>>
        <%= link_to "Disable", disable_room_guest_path(@room) %><br/>
        <span id="guest_url" title="Send this link to someone to invite him to this room"><%= public_room_url(@room.public_token) %></span>
      </span>
    </div>
    <% end %>
  </div>
  <a id="logo" href="http://talkerapp.com" target="_blank">
    Talker <%= image_tag "/images/favicon.png", :height => "18", :width => "18", :alt => "Talker Fish Loves Thee" %> Group Chat
  </a>
<% end %>

<div id="top_mask">
  <div class="fade">&nbsp;</div>
</div>

<div id="chat_log">
  <table id="log">
  </table>
</div>

<div id="message_form">
  <form id="msgForm" action="/rooms/1/messages" class="fade">
    <textarea rows="1" id="msgbox"></textarea>
  </form>
</div>