<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    var currentUser = {
      id: <%= current_user.id %>,
      name: <%= current_user.name.to_json %>,
      email: <%= current_user.email.to_json %>
    };

    Orbited.settings.hostname = '<%= request.host %>';
    Orbited.settings.port = <%= Orbited.port %>;
    Orbited.settings.protocol = '<%= request.ssl? ? "https" : "http" %>'
    Orbited.settings.streaming = true;
    TCPSocket = Orbited.TCPSocket;
    
    $(function() {
      document.domain = document.domain;
      client = new TalkerClient({
        host: '<%= Orbited.talker_host %>', 
        port: <%= Orbited.talker_port %>, 
        room: <%= @room.id %>, 
        user: <%= {:id => current_user.id, :name => current_user.name, :livetyping => current_user.livetyping}.to_json %>,
        token: <%= current_user.talker_token.to_json %>,
        onNewMessage: ChatRoom.onNewMessage, 
        onUsers: ChatRoom.onUsers,
        onJoin: ChatRoom.onJoin, 
        onLeave: ChatRoom.onLeave,
        onClose: ChatRoom.onClose,
        onBack: ChatRoom.onBack,
        onIdle: ChatRoom.onIdle,
        onConnected: ChatRoom.onConnected
      });
      ChatRoom.current_user = client.options.user;
      ChatRoom.room = '<%= @room.name %>';
      ChatRoom.client = client;
      ChatRoom.receiver = Receiver;
      
      client.connect();
      
      $.each(<%= escape_json @events.to_json %>, function(){
        Receiver.push(this, true);
      });
      
      ChatRoom.scroller.scrollToBottom(true);
      
      resizePastes();
      
      $(window).resize(function(e){
        resizePastes();
      });
      
      $(window).bind('beforeunload', function() { client.reset() });
      $("a#leave").click(function() {
        client.close();
        var link = this;
        client.options.onClose = function() {
          window.location = link.href;
        }
        return false;
      });
    });
  //]]>
  </script>
<% end %>

<% content_for :sidebar do %>
  <div id="room" class="panel">
    <div class="header">
      <span class="actions">
        <%= link_to "Leave", rooms_path, :title => "Leave this room", :id => "leave", :class => "leave" %>
      </span>
      <h3><%=h @room.name %></h3>
      <small><%=h @room.description %></small>
    </div>
    <div class="content">
      <h4>Who&#39;s here?</h4>
      <ul class="people" id="people">
        <%= render :partial => "user", :collection => @room.users %>
      </ul>
    </div>
    <div class="footer">
      <%= link_to "Chat Logs", room_logs_path(@room), :title => "Chat Logs", :target => "_blank" %>
    </div>
  </div>
<% end %>

<div id="top_mask">
  <div class="fade">&nbsp;</div>
</div>

<div id="chat_log">
  <table id="log">
  </table>
</div>

<div id="message_form">
  <form id="msgForm" action="/rooms/1/messages" class="fade">
    <textarea rows="1" id="msgbox"></textarea>
  </form>
</div>