- content_for :head do
  = javascript_include_tag "orbited", "protocol", "chat", :cache => "chat_all"

  :javascript
    Orbited.settings.hostname = '#{request.subdomains.first}.#{OrbitedConfig.host}';
    Orbited.settings.port = #{OrbitedConfig.port};
    Orbited.settings.protocol = '#{request.ssl? ? "https" : "http"}'
    Orbited.settings.streaming = true;
    TCPSocket = Orbited.TCPSocket;
    
    $(function() {
      document.domain = document.domain;
      client = new TalkerClient();
      client.connect('localhost', 61800, "#{@room.unique_name}", "#{current_user.login}", "TODO");
      // TODO hook client.onMessage or something to Chat.receive(message);
      
      $(window).bind('beforeunload', function() { client.close() });
    });
    

- @title = @room.name

#room
  #sidebar
    %h1&= @room.name
    %p&= @room.description
    %h2 Users
    %ul#users
      = render :partial => "user", :collection => @room.users
  %table#log
    = render :partial => "messages/message", :collection => @events
    %tr.message.event#message
      %td.author&= current_user.login
      %td.content
        %form#msgForm{:action => room_messages_path(@room)}
          %textarea#msgbox{:rows => 1}
