- @title = @room.name

- content_for :head do
  :javascript
    Orbited.settings.hostname = '#{request.subdomains.first}.#{OrbitedConfig.host}';
    Orbited.settings.port = '#{OrbitedConfig.port}';
    Orbited.settings.protocol = '#{request.ssl? ? "https" : "http"}'
    Orbited.settings.streaming = true;
    var chat = new Chat();
  = stomp_connect @room.channel, :js => "jquery"

#room
  #sidebar
    %h1&= @room.name
    %p&= @room.description
    %h2 Users
    %ul#users
      = render :partial => "user", :collection => @room.users
  %table#log
    = render :partial => "messages/message", :collection => @events
  #message
    %form#msgForm{:action => room_messages_path(@room)}
      %textarea#msgbox{:name => 'message'}
      = submit_tag "Send Message"
