<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    var currentUser = {
      id: <%= current_user.id %>,
      name: <%= current_user.name.to_json %>,
      email: <%= current_user.email.to_json %>
    };

    Orbited.settings.hostname = '<%= request.host %>';
    Orbited.settings.port = <%= Orbited.port %>;
    Orbited.settings.protocol = '<%= request.ssl? ? "https" : "http" %>'
    Orbited.settings.streaming = true;
    TCPSocket = Orbited.TCPSocket;
    
    $(function() {
      document.domain = document.domain;
      
      Talker.plugins.push(new Talker.Timestamp());
      Talker.plugins.push(new Talker.Logger());
      Talker.plugins.push(new Talker.Sender($("#msgbox")));
      
      Talker.client = new Talker.Client({
        host: '<%= Orbited.talker_host %>', 
        port: <%= Orbited.talker_port %>, 
        room: <%= @room.id %>, 
        user: <%= {:id => current_user.id, :name => current_user.name, :livetyping => current_user.livetyping}.to_json %>,
        token: <%= current_user.talker_token.to_json %>,
        callbacks: Talker.Broadcaster
      }).connect();
      
      $.each(<%= escape_json @events.to_json %>, function(){
        Talker.Broadcaster.broadcastEvent(this);
      });
      
      Talker.plugins.push(new Talker.UserList());
      Talker.plugins.push(new Talker.Scroller());
      Talker.plugins.push(new Talker.MsgCommand());
      Talker.plugins.push(new Talker.Notifier());
      Talker.plugins.push(new Talker.SystemNotification());
      Talker.plugins.push(new Talker.TitleNotification());
      
      Talker.trigger("Loaded");
      
      $(window).bind('beforeunload', function() { Talker.client.reset() });
      $("a#leave").click(function() {
        Talker.client.close();
        var link = this;
        Talker.client.options.callbacks.onClose = function() {
          window.location = link.href;
        }
        return false;
      });
    });
  //]]>
  </script>
<% end %>

<% content_for :sidebar do %>
  <div id="room" class="panel">
    <div class="header">
      <span class="actions">
        <%= link_to "Leave", rooms_path, :title => "Leave this room", :id => "leave", :class => "leave" %>
      </span>
      <h3 class="name"><%=h @room.name %></h3>
    </div>
    <div class="content">
      <p class="description"><%=h @room.description %></p>
      <h4>Who&#39;s here?</h4>
      <ul class="people" id="people">
        <%= render :partial => "user", :collection => @room.users %>
      </ul>
    </div>
    <div class="footer">
      <%= link_to "Edit", room_path(@room), :title => "Edit room name &amp; description", :id => "edit" if admin? %>
      <%= link_to "Chat Logs", room_logs_path(@room), :title => "Browse chat logs for this room", :target => "_blank" %>
    </div>
  </div>
  <div id="edit_room" class="edit panel" style="display:none">
    <% form_for @room do |f| %>
      <div class="errors" style="display:none"></div>
      <div class="header">
        <h3><%= f.text_field :name, :size => 15 %></h3>
      </div>
      <div class="content">
        <p class="description"><%= f.text_area :description, :rows => 6 %></p>
      </div>
      <div class="footer">
        <%= buttons "Save", :class => "small" %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="top_mask">
  <div class="fade">&nbsp;</div>
</div>

<div id="chat_log">
  <table id="log">
  </table>
</div>

<div id="message_form">
  <form id="msgForm" action="/rooms/1/messages" class="fade">
    <textarea rows="1" id="msgbox"></textarea>
  </form>
</div>