<% @title = "Talker - Fast, intuitive and extensible group chat" %>

<div id="video">
  <%= image_tag "root/screenie.png", :id => "screenie" %>
  <!-- <div class="buttons">
    <a href="#">Watch Video Tour</a>
  </div> -->
</div>
<div id="page">
  <div id="benefits">
    <ul>
      <li id="one">
        <h3>Group workflow</h3>
        <p>Talker encourages good group dynamics.  Helps teams gel and get things done together.</p>
      </li>
      <li id="two">
        <h3>No IM client</h3>
        <p>Run from inside a browser. It is as easy as visiting a web page.</p>
      </li>
      <li id="three">
        <h3>Fewer meetings</h3>
        <p>Real time chat reduces the need for lengthy meetings. Spend time working instead.</p>
      </li>
      <li id="four">
        <h3>Work remotely</h3>
        <p>Don't let distance be an issue.  Chat with colleagues anywhere!</p>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div id="divider">
    <div class="buttons">
      <!-- <%= link_to "Try a live demo", "https://talker.talkerapp.com/r/dece54" %> -->
      <%= link_to "Signup For Free", pricing_path, :class => "pricing" %>
    </div>
    <div class="arrow">
      No credit card required. Start chatting in less than 60 seconds!
    </div>
  </div>
</div>
<div id="ads">
  <div class="spot left">
    <h3><%= link_to "Powerful Plugins", plugin_api_path %></h3>
    <p>Display and interact the way you want with our simple Front End API. You can format messages, create links to other web pages, embed special types of media or create powerful slash commands.</p>
  </div>
  <div class="spot right">
    <h3><%= link_to "Amazing API", rest_api_path %></h3>
    <p>Send a message to the chat log in a single line of code! Our REST API makes it easy for you! Your build server, live monitoring tools and chat log can speak the same language.</p>
  </div>
</div>
<div class="clear"></div>

<% content_for :footer do %>
  <div class="credits">
    <div class="column left">
      <h3>What people are saying about Talker</h3>
      <div id="tweets"></div>
    </div>
    <div class="column right">
      <h3>Who&rsquo;s using Talker</h3>
      <div id="companies">
        <%= link_to image_tag("/images/root/companies/nulayer.png", :size => "125x40"), "http://nulayer.com" %>
        <%= link_to image_tag("/images/root/companies/liquidmedia.png", :size => "79x63"), "http://liquidmedia.ca" %>
        <%= link_to image_tag("/images/root/companies/wego.png", :size => "117x43"), "http://wego.com" %>
      </div>
      <h4>Millions of messages have been exchanged through Talker already!</h4>
      
      <h3>Latest News about Talker</h3>
      <div id="news"></div>
    </div>
  </div>
<% end %>