<% @title = "Talker - Fast, intuitive and extensible group chat" %>

<div id="video">
  <%= image_tag "root/screenie.png", :id => "screenie" %>
  <!-- <div class="buttons">
    <a href="#">Watch Video Tour</a>
  </div> -->
</div>
<div id="page">
  <div id="benefits">
    <ul>
      <li id="one">
        <h3>Group workflow</h3>
        <p>Talker encourages good group dynamics.  Helps teams gel and get things done together.</p>
      </li>
      <li id="two">
        <h3>No IM client</h3>
        <p>Run from inside a browser it is as easy as visiting a web page.</p>
      </li>
      <li id="three">
        <h3>Less meetings</h3>
        <p>Real time chat reduces the need for lengthy meetings. Spend time working instead.</p>
      </li>
      <li id="four">
        <h3>Work remotely</h3>
        <p>Don't let distance be an issue.  Chat with colleagues anywhere!</p>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div id="divider">
    <div class="buttons">
      <%= link_to "Try a live demo", "https://talker.talkerapp.com/r/dece54" %>
      <%= link_to "View pricing and signup for a free trial", pricing_path, :class => "pricing" %>
    </div>
    <div class="arrow">
      it takes less than 60 seconds to create an account!
    </div>
  </div>
</div>
<div id="ads">
  <div class="spot left">
    <h3><%= link_to "Powerful Plugins", plugin_api_path %></h3>
    <p>Display and interact the way you want with our simple Front End API. You can format messages, create links to other web pages, embed special types of media or create powerful slash commands.</p>
  </div>
  <div class="spot right">
    <h3><%= link_to "Amazing API", rest_api_path %></h3>
    <p>Send a message to the chat log in a single line of code! Our REST API makes it easy for you! Your build server, live monitoring tools and chat log can speak the same language.</p>
  </div>
</div>
<div class="clear"></div>
