<% @title = @tagline = "A Quick <span class='and'>&amp;</span> Joyful Tour of Talker" %>

<div class="content">
  
  <% case @step
     when nil %>
    <h3>Fix Issues in Real-Time</h3>
    <h4>Next: <%= link_to "Get Feedback in Real-Time", tour_path("feedback") %></h4>
  
    <%= image_tag "tour/issue.png", :class => "issue" %>

  <% when "feedback" %>
    <h3>Get Feedback in Real-Time</h3>
    <h4>Next: <%= link_to "Fix Issues in Real-Time", tour_path %></h4>
  
    <%= image_tag "tour/feedback.png", :class => "feedback" %>
  
  <% end %>
  
  <div id="signup">
    <div class="buttons">
      <%= link_to "Signup For Free", signup_path, :class => "pricing" %>
    </div>
  </div>
  
</div>