<% @title = "Paste ##{@paste.id}" %>

<% content_for :head do %>
  <style>
    html { overflow: hidden } /* for Win IE 6 */
    body { margin:0; padding:0; border:0; overflow: hidden; }
  </style>
  <script type="text/javascript" charset="utf-8">
    Talker.currentUser = <%= current_user.to_json %>;
    Talker.paste = <%= @paste.to_json %>;
    
    Orbited.settings.hostname = '<%= request.host %>';
    Orbited.settings.port = <%= Orbited.port %>;
    Orbited.settings.protocol = '<%= request.ssl? ? "https" : "http" %>'
    Orbited.settings.streaming = true;
    TCPSocket = Orbited.TCPSocket;
    
    $(function() {
      document.domain = document.domain;
      
      var editor = window.editor = new Ace2Editor();
      var pasteUpdater = new Talker.Paste.Updater(editor);
      var text = "<%= escape_javascript @paste.content %>"; // initial text
      
      editor.resize = function() {
        $("#editorcontainer").get(0).style.height = "100%";
        editor.getFrame().style.height = ((document.documentElement.clientHeight)-1)+"px";
        editor.adjustSize();
      };
      
      editor.init("editorcontainer", text, function() {
        <% if current_account.beta_tester %>
        try {
          <% current_account.users.each do |user| -%>
          pasteUpdater.addColor("<%= user.id %>", "<%= user.color %>");
          <%- end -%>
          <% if @paste.attributions.present? %>
          var attribs = Talker.Paste.createAttributions("<%= escape_javascript @paste.attributions %>");
          editor.setBaseAttributedText({text: text + "\n", attribs: attribs.changeset },
                                       { numToAttrib: attribs.pool });
          <% else %>
          editor.setBaseText(text + "\n");
          <% end %>
        
          editor.setEditable(true); 
          editor.setProperty("showsauthorcolors", true);
          editor.setProperty("userauthor", Talker.currentUser.id.toString());
        
          editor.setUserChangeNotificationCallback(function() {
            // Compute local diff
            var cs = editor.prepareUserChangeset();
            var diff = Talker.Paste.rewriteAttributions(cs.changeset, 0, Talker.currentUser.id);
            // Send to server
            Talker.client.queueSend({type: 'message', user: Talker.currentUser, content: diff, color: '<%= current_user.color %>'}, function() {
              // Reset local copy when sent
              editor.applyPreparedChangesetToBase();
            }, 100);
          });
          connect();
        } catch (e) {
          console.error(e);
          $("#error").show().html(
            $("<p/>").html("Error loading paste. You wont be able to edit or see changes.")
          );
          $("#infobox").hide();
        }
        <% else %>
        editor.setEditable(false);
        <% end %>
        
        editor.setProperty("wraps", true);
        editor.resize();
        $(window).bind("resize", editor.resize);
        setTimeout(function() {editor.focus();}, 0);
      });
      
      <% if current_account.beta_tester %>
      Talker.plugins.push(new Talker.ErrorHandler($("#error")));
      Talker.plugins.push(new Talker.UserList($("#people")));
      Talker.plugins.push(new Talker.UserColors($("#people")));
      Talker.plugins.push(new Talker.Users());
      Talker.plugins.push(pasteUpdater);
      
      function connect() {
        Talker.client = new Talker.Client({
          host: '<%= Orbited.talker_host %>', 
          port: <%= Orbited.talker_port %>, 
          paste: Talker.paste.id,
          token: <%= current_user.talker_token.to_json %>,
          callbacks: Talker.Broadcaster
        }).connect();
      
        Talker.trigger("Loaded");
      
        $(window).bind('beforeunload', function() { Talker.client.reset() });
      }
      <% end %>
    });
  </script>
<% end %>

<div id="paste">
  <div id="sidebar">
    <div id="error" class="flash error" style="display:none"></div>
    
    <% if current_account.beta_tester %>
    <div id="infobox" class="panel">
      <div class="header">
        <h3 class="name">Paste</h3>
      </div>
      <div class="content">
        <h4 class="name">Who&#39;s here?</h4>
        <ul class="people" id="people"></ul>
      </div>
      <div class="footer">
        <%= link_to "&laquo; Back to room", room_path(@paste.room) if @paste.room %>
      </div>
    </div>
    <% end %>
  </div>
  <div id="editorcontainer"><!-- --></div>
</div>
