<%
if @room
  @title = "Chat Logs search for #{@query} in #{@room.name}"
else
  @title = "Chat Logs search for #{@query}"
end
%>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    Talker.currentUser = <%= current_user.to_json %>;
    
    $(function(){
      <%= install_plugin :timestamp, true %>
      <%= install_core_plugins :except => :timestamp %>
      
      <%= render_events @events %>
      
      $("tr.event").each(function() {
        var element = $(this).find(".message p");
        var room = element.attr("room");
        var time = element.attr("time");
        $(this).append(
          $("<td/>").addClass("log").html(
            $("<a/>").attr("href", "/rooms/" + room + "/logs/" + FormatHelper.getUrlDate(time) + "#event_" + time).
                      text("View in context")
          )
        );
      });
    });
  //]]>
  </script>
<% end %>

<h2><%=h @title %></h2>

<div id="chat_log">
  <table id="log">
  </table>
</div>
