<%
if @room
  @title = "Chat Logs search for #{@query} in #{@room.name}"
else
  @title = "Chat Logs search for #{@query}"
end
%>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    Talker.currentUser = <%= current_user.to_json %>;
    
    $(function(){
      <%= install_plugin :timestamp, true %>
      <%= install_core_plugins :except => :timestamp %>
      
      <%= render_events @events %>
    });
  //]]>
  </script>
<% end %>

<h2><%=h @title %></h2>

<div id="chat_log">
  <table id="log">
  </table>
</div>
