<%
if @room
  @title = "Chat Logs search for #{@query} in #{@room.name}"
else
  @title = "Chat Logs search for #{@query}"
end
%>

<h2><%=h @title %></h2>

<%= render :partial => "search_form" %>

<div id="chat_log">
  <table id="log">
  </table>
</div>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    var Talker.currentUser = {
      id: <%= current_user.id %>,
      name: <%= current_user.name.to_json %>,
      email: <%= current_user.email.to_json %>
    };
    
    $(function(){
      $.each(<%= escape_json @events.to_json %>, function(){
        Receiver.push(this, true, true);
      });
    });
  //]]>
  </script>
<% end %>