<% @title = "Chat Logs of #{@room.name} for " + human_date(@date) %>

<h2><%=h @title %></h2>

<div id="chat_log">
  <table id="log">
  </table>
</div>


<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    var currentUser = {
      id: <%= current_user.id %>,
      name: <%= current_user.name.to_json %>,
      email: <%= current_user.email.to_json %>
    };
    
    $(function(){
      $.each(<%= escape_json @events.to_json %>, function(){
        Talker.Broadcaster.broadcast(this);
      });
      
      resizeLogElements();
      
      $(window).resize(function(e){
        resizeLogElements();
      });
    
      var timestamp = window.location.href.match(/#(\d+)/);
    
      if (timestamp && timestamp[1]){
        window.setTimeout(function(){
          $('p[time=' + timestamp[1] + ']').scrollToCenter({
            complete: function(){
              $('p[time=' + timestamp[1] + ']').css({border: '1px dashed grey'}).highlight();
            }
          });
        },10);
      }  
    });
  //]]>
  </script>
<% end %>