<% @title = "Chat Logs of #{@room.name} for " + human_date(@date) %>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    Talker.currentUser = <%= current_user.to_json %>;
    Talker.room = <%= @room.to_json %>;
    
    $(function(){
      Talker.plugins.push(new Talker.Timestamp());
      Talker.plugins.push(new Talker.LogsJoinLeave());
      
      // Talker.plugins.push(new Talker.YoutubeFormatter());
      Talker.plugins.push(new Talker.PasteFormatter());
      // Talker.plugins.push(new Talker.ImageFormatter());
      
      Talker.plugins.push(new Talker.MeCommand());
      Talker.plugins.push(new Talker.DefaultFormatter());
      
      <%= render_events_for_logs @events %>

      var contextEventElement = location.href.indexOf('#') != -1 ? '#' + location.href.split('#')[1] : false ;

      if (contextEventElement){
        Talker.LogFindInterval = window.setInterval(function() {
          if ($(contextEventElement).length){
            $(contextEventElement).scrollToCenter({
              complete: function() {
                $(contextEventElement).addClass('highlight');
              }
            });
            window.clearInterval(Talker.LogFindInterval);
          }
        }, 200);
      }
    });
  //]]>
  </script>
<% end %>

<%= render :partial => "browser", :locals => { :position => "top" } %>
<div id="chat_log">
  <% if @events.empty? %>
    <p class="empty">That day was pretty quiet.</p>
  <% end %>
  <table id="log">
  </table>
</div>
<%= render :partial => "browser", :locals => { :position => "bottom" } %>

<% content_for :sidebar do %>
  <div id="room" class="panel">
    <div class="header">
      <h3 class="name" id="room_name">Log for <%=h @room.name %></h3>
    </div>
    <div class="content">
      <%= render :partial => "rooms/search" %>

      <h4>Users in this log</h4>
      <ul class="people" id="people"></ul>
    </div>
  </div>
<% end %>
