<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
  <!--[if IE]><link rel="SHORTCUT ICON" href="<%= root_url + 'images/favicon.ico' %>" /><![endif]-->
  <![if !IE]>
    <link rel="icon" type="image/vnd.microsoft.icon" href="<%= root_url + 'images/favicon.ico' %>" />
    <link rel="fluid-icon" href="<%= root_url + 'images/favicon.png' %>" title="Talker" />
  <![endif]>
  
  <title><%= strip_tags @title || "Home" %> &#171; TalkerApp</title>
  <%= include_stylesheets :screen, :media => "screen, projection" %>
  <%= include_stylesheets :print, :media => "print" %>
  <!--[if IE]><%= include_stylesheets :ie, :media => "screen, projection" %><![endif]-->
  <%= sprockets_include_tag %>
  <%= yield :head %>
  <noscript>
    <meta http-equiv="refresh" content="0;URL=noscript.html" />
  </noscript>
</head>

<body id="<%= @controller.controller_name %>_controller" class="<%= current_view %>">
