<%= render :partial => "layouts/header" %>

  <%= render :partial => "shared/nav" %>
  
  <div id="content">
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    
    <div id="main">
      <%= flash_tags %>
      <%= yield %>
    </div>
  </div>
  
<%= render :partial => "layouts/footer" %>