!!!
%html
  %head
    %title&= @title
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = sprockets_include_tag
    = yield :head
  
  %body
    #header
      .inner
        %h1 Talker - The Group Chat App
        
    #content
      .inner
        = yield
