<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
  <!--[if IE]><link rel="SHORTCUT ICON" href="<%= root_url + 'images/favicon.ico' %>" /><![endif]-->
  <![if !IE]>
    <link rel="icon" type="image/vnd.microsoft.icon" href="<%= root_url + 'images/favicon.ico' %>" />
    <link rel="fluid-icon" href="<%= root_url + 'images/favicon.png' %>" title="Talker" />
  <![endif]>
  
  <title><%= strip_tags @title || "Home" %></title>
  <%= include_stylesheets :site, :media => "screen, projection" %>
  <!--[if IE7]><%= include_stylesheets :site_ie7, :media => "screen, projection" %><![endif]-->
  <!--[if IE8]><%= include_stylesheets :site_ie8, :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "jquery", "jquery.cookie", "site" %>
  <script type="text/javascript" charset="utf-8">
    if (!$.cookie("referrer")) $.cookie("referrer", document.referrer, { domain: '.<%= request.host %>', });
  </script>
  <%= yield :head %>
</head>

<body id="<%= current_view %>">

<div id="header">
  <div class="container">
    <div id="menu">
      <ul>
        <li><%= link_to "Pricing <span class='and'>&amp;</span> Signup", pricing_path %></li>
        <li><%= link_to "Tour", tour_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  </div>
</div>

<div id="splash">
  <div class="container">
    <div id="tagline">
      <h1><%= @tagline || "Fast, intuitive and extensible group chat" %></h1>
    </div>
    
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <%= yield :footer %>
    <div class="clear"></div>
    <div id="copyright">
      <p>
        &copy; 2010 <a href="http://teambox.com">Teambox Collaboration Software</a>
        <span>|</span>
        <a href="/about">About</a>
        <span>|</span>
        <a href="http://talkerapp.tumblr.com">Blog</a>
        <span>|</span>
        <a href="http://twitter.com/talkerapp">Twitter</a>
        <span>|</span>
        <%= link_to "Help &amp; Support", "http://talker.tenderapp.com" %>
        <span>|</span>
        <a href="mailto:info@talkerapp.com">Contact</a>
      </p>
    </div>
  </div>
</div>

<%= render "layouts/stats" %>

</body>
</html>
