<% @title = "Create an Account" %>

<div class="sheet">
  <h2>Create a <%=h @account.plan.name %> Talker Account</h2>
  
  <% form_for @account, :url => register_path, :html => { :class => "lw120" } do |f| %>
    <%= f.hidden_field :plan_id %>
    
    <%= f.error_messages %>
    <fieldset id="subdomain">
      <h3>Account Information</h3>
      <div class="info">
        Choose your site address to host your chat rooms. This is where everyone in your group will go to chat.
      </div>
      <p>
        <%= f.label :subdomain, "Address" %>
        <%= f.label :subdomain, "http://", :class => "inline" %>
        <%= f.text_field :subdomain, :size => 15, :placeholder => "organization"  %>
        <%= f.label :subdomain, ".talkerapp.com", :class => "inline" %>
        <label class="description">You might enter your organization name here. Use only letters, numbers and <code>-</code>.</label>
      </p>
    </fieldset>
    
    <fieldset id="user">
      <h3>Administrator User</h3>
      <% f.fields_for :users do |uf| %>
        <div class="info">
          Create a master user to invite other users and manage chat rooms.
        </div>
        <p>
          <%= uf.label :name, "User name" %>
          <%= uf.text_field :name, :size => 20 %>
          <label class="description">This will be your user name when you chat. Avoid non-printing characters, <code>\</code>, <code>&gt;</code>, <code>&lt;</code>, <code>&amp;</code> and spaces</label>
        </p>
        <p>
          <%= uf.label :email %>
          <%= uf.text_field :email %>
        </p>
        <p>
          <%= uf.label :password %>
          <%= uf.password_field :password, :size => 20 %>
        </p>
        <p>
          <%= uf.label :password_confirmation, "Password again" %>
          <%= uf.password_field :password_confirmation, :size => 20 %>
        </p>
      <% end %>
    </fieldset>

    <fieldset id="existing_user">
      <h3>Are you a registered user?</h3>
        <div class="info">
          Type your login data if you want to create this account with your existing user.
        </div>
        <p>
          <%= f.label :existing_user_email, 'Email or name' %>
          <%= f.text_field :existing_user_email %>
        </p>
        <p>
          <%= f.label :existing_user_password, 'Password' %>
          <%= f.password_field :existing_user_password, :size => 20 %>
        </p>
        <p class="indent">
          <%= link_to 'Forgot your password?', reset_password_path %>
        </p>
    </fieldset>

    <p class="submit indent">
      <% if @account.plan.free? %>
        <%= ok_button "Create my account" %>
      <% else %>
        <%= next_button "Enter your billing information" %>
      <% end %>
    </p>

    <label class="description">
      By clicking
      <strong><% if @account.plan.free? %>Create my account<% else %>Enter your billing information<% end %></strong>
      you agree to the <%= link_to "Terms &amp; Conditions", terms_and_conditions_path %>, <%= link_to "Customer Service", service_policy_path %>, and <%= link_to "Privacy", privacy_policy_path %> policies.
    </label>
  <% end %>
</div>
