%h1= @title = "Create an Account"

- form_for @account, :url => register_path do |f|
  %ol
    %li
      Choose your site address to host your chat rooms. This is where everyone in your group will go to chat. You might use your organization name here.
      = f.error_messages
      %p
        = f.label :subdomain, "http://"
        = f.text_field :subdomain
        = f.label :subdomain, ".talkerapp.com"
    
    %li
      - fields_for @user do |uf|
        Create a master user account to invite other users and manage chat rooms.
        = uf.error_messages
        %p
          = uf.label :name
          = uf.text_field :name
        %p
          = uf.label :email
          = uf.text_field :email
        %p
          = uf.label :password
          = uf.password_field :password
        %p
          = uf.label :password_confirmation
          = uf.password_field :password_confirmation
        
        If you prefer you can login using your OpenID.
        No need to supply a password or email in this case.
        %p
          = uf.label :open_id, "OpenID"
          = uf.text_field :open_id
    
    %li
      Hurray, you're done!
      %p
        = f.submit "Start chatting now!"
